In [1]:
import requests
import json
import pandas as pd
import getpass
import datetime

Solution to initiate the API was found here by Ekaterina :
https://stmorse.github.io/journal/spotify-api.html

In [2]:
import getpass
client_id = getpass.getpass()

········

In [3]:
client_secret = getpass.getpass()

········

In [110]:
AUTH_URL = 'https://accounts.spotify.com/api/token'

# POST
auth_response = requests.post(AUTH_URL, {
    'grant_type': 'client_credentials',
    'client_id': client_id,
    'client_secret': client_secret,
})

# convert the response to JSON
auth_response_data = auth_response.json()

# save the access token
access_token = auth_response_data['access_token']

In [111]:
headers = {
    'Authorization': 'Bearer {token}'.format(token=access_token)
}

In [112]:
# base URL of all Spotify API endpoints
BASE_URL = 'https://api.spotify.com/v1/'

# Track ID from the URI
playlist_id = '5pQVH0EJssqt4KDXPQVwv3'

# actual GET request with proper header
r = requests.get(BASE_URL + 'playlists/' + playlist_id + '/tracks?fields=items(track(name, artists(name)))', headers=headers)

In [69]:
r.status_code

200

In [70]:
r = r.json()
r

{'items': [{'track': {'artists': [{'name': 'Haddaway'}],
    'name': 'What Is Love - 7" Mix'}},
  {'track': {'artists': [{'name': 'Foo Fighters'}], 'name': 'Big Me'}},
  {'track': {'artists': [{'name': 'Red Hot Chili Peppers'}],
    'name': 'Under the Bridge'}},
  {'track': {'artists': [{'name': 'The Prodigy'}], 'name': 'Breathe'}},
  {'track': {'artists': [{'name': 'Red Hot Chili Peppers'}],
    'name': 'Scar Tissue'}},
  {'track': {'artists': [{'name': 'The All-American Rejects'}],
    'name': 'Dirty Little Secret'}},
  {'track': {'artists': [{'name': '2Pac'}, {'name': 'Talent'}],
    'name': 'Changes'}},
  {'track': {'artists': [{'name': 'U2'}],
    'name': "I Still Haven't Found What I'm Looking For"}},
  {'track': {'artists': [{'name': 'Melendi'}],
    'name': 'Caminando por la vida'}},
  {'track': {'artists': [{'name': 'Kiko y Shara'}, {'name': 'Shara'}],
    'name': 'Adolescentes'}},
  {'track': {'artists': [{'name': '2Baba'}], 'name': 'Appreciate It'}},
  {'track': {'artists': [{'name': 'Queen'}], 'name': 'Bohemian Rhapsody'}},
  {'track': {'artists': [{'name': 'Linkin Park'}],
    'name': 'Points of Authority'}},
  {'track': {'artists': [{'name': 'Bon Jovi'}],
    'name': 'You Give Love A Bad Name'}},
  {'track': {'artists': [{'name': 'Rose Royce'}],
    'name': 'Wishing on a Star'}}]}

In [71]:
df = pd.DataFrame(r)
df

                                                items
0   {'track': {'artists': [{'name': 'Haddaway'}], ...
1   {'track': {'artists': [{'name': 'Foo Fighters'...
2   {'track': {'artists': [{'name': 'Red Hot Chili...
3   {'track': {'artists': [{'name': 'The Prodigy'}...
4   {'track': {'artists': [{'name': 'Red Hot Chili...
5   {'track': {'artists': [{'name': 'The All-Ameri...
6   {'track': {'artists': [{'name': '2Pac'}, {'nam...
7   {'track': {'artists': [{'name': 'U2'}], 'name'...
8   {'track': {'artists': [{'name': 'Melendi'}], '...
9   {'track': {'artists': [{'name': 'Kiko y Shara'...
10  {'track': {'artists': [{'name': '2Baba'}], 'na...
11  {'track': {'artists': [{'name': 'Queen'}], 'na...
12  {'track': {'artists': [{'name': 'Linkin Park'}...
13  {'track': {'artists': [{'name': 'Bon Jovi'}], ...
14  {'track': {'artists': [{'name': 'Rose Royce'}]...

In [72]:
def flatten(data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        data = pd.concat([data, flattened], axis=1)
        data = data.drop(column, axis=1)
    return data

In [73]:
flat_df = flatten(df, ['items'])
flat_df

                                          items_track
0   {'artists': [{'name': 'Haddaway'}], 'name': 'W...
1   {'artists': [{'name': 'Foo Fighters'}], 'name'...
2   {'artists': [{'name': 'Red Hot Chili Peppers'}...
3   {'artists': [{'name': 'The Prodigy'}], 'name':...
4   {'artists': [{'name': 'Red Hot Chili Peppers'}...
5   {'artists': [{'name': 'The All-American Reject...
6   {'artists': [{'name': '2Pac'}, {'name': 'Talen...
7   {'artists': [{'name': 'U2'}], 'name': 'I Still...
8   {'artists': [{'name': 'Melendi'}], 'name': 'Ca...
9   {'artists': [{'name': 'Kiko y Shara'}, {'name'...
10  {'artists': [{'name': '2Baba'}], 'name': 'Appr...
11  {'artists': [{'name': 'Queen'}], 'name': 'Bohe...
12  {'artists': [{'name': 'Linkin Park'}], 'name':...
13  {'artists': [{'name': 'Bon Jovi'}], 'name': 'Y...
14  {'artists': [{'name': 'Rose Royce'}], 'name': ...

In [74]:
flat_df = flatten(flat_df, ['items_track'])
flat_df

,items_track_artists,items_track_name
0,[{'name': 'Haddaway'}],"What Is Love - 7"" Mix"
1,[{'name': 'Foo Fighters'}],Big Me
2,[{'name': 'Red Hot Chili Peppers'}],Under the Bridge
3,[{'name': 'The Prodigy'}],Breathe
4,[{'name': 'Red Hot Chili Peppers'}],Scar Tissue
5,[{'name': 'The All-American Rejects'}],Dirty Little Secret
6,"[{'name': '2Pac'}, {'name': 'Talent'}]",Changes
7,[{'name': 'U2'}],I Still Haven't Found What I'm Looking For
8,[{'name': 'Melendi'}],Caminando por la vida
9,"[{'name': 'Kiko y Shara'}, {'name': 'Shara'}]",Adolescentes
10,[{'name': '2Baba'}],Appreciate It
11,[{'name': 'Queen'}],Bohemian Rhapsody
12,[{'name': 'Linkin Park'}],Points of Authority
13,[{'name': 'Bon Jovi'}],You Give Love A Bad Name
14,[{'name': 'Rose Royce'}],Wishing on a Star

In [75]:
flat_df = flatten(flat_df, ['items_track_artists'])
flat_df

ValueError: All arrays must be of the same length

This does not work: some songs have more than one artist name and the column for the artists thus ends up with more rows than the one with the song names.

I will make a function to try to isolate the rows where there is more than one artist.

In [80]:
len(flat_df['items_track_artists'][0])

1

In [89]:
len(flat_df['items_track_artists'][6])

2

In [88]:
flat_df['items_track_artists'][0][0]['name']

'Haddaway'

In [103]:
artists = []

for i in range(len(flat_df['items_track_name'])):
    artist = flat_df['items_track_artists'][i][0]['name']
    if len(flat_df['items_track_artists'][i]) > 1:
        for j in range(1, len(flat_df['items_track_artists'][i])):
            artist += ', ' + flat_df['items_track_artists'][i][j]['name']

    artists.append(artist)

artists

['Haddaway',
 'Foo Fighters',
 'Red Hot Chili Peppers',
 'The Prodigy',
 'Red Hot Chili Peppers',
 'The All-American Rejects',
 '2Pac, Talent',
 'U2',
 'Melendi',
 'Kiko y Shara, Shara',
 '2Baba',
 'Queen',
 'Linkin Park',
 'Bon Jovi',
 'Rose Royce']

In [107]:
playlist = pd.DataFrame(artists, flat_df['items_track_name']).reset_index()
playlist.columns = ['Song Name', 'Artist(s)']
playlist

                                     Song Name                 Artist(s)
0                        What Is Love - 7" Mix                  Haddaway
1                                       Big Me              Foo Fighters
2                             Under the Bridge     Red Hot Chili Peppers
3                                      Breathe               The Prodigy
4                                  Scar Tissue     Red Hot Chili Peppers
5                          Dirty Little Secret  The All-American Rejects
6                                      Changes              2Pac, Talent
7   I Still Haven't Found What I'm Looking For                        U2
8                        Caminando por la vida                   Melendi
9                                 Adolescentes       Kiko y Shara, Shara
10                               Appreciate It                     2Baba
11                           Bohemian Rhapsody                     Queen
12                         Points of Authority               Linkin Park
13                    You Give Love A Bad Name                  Bon Jovi
14                           Wishing on a Star                Rose Royce

Let's make a clean function to get the song list from any spotify Playlist.

In [113]:
def get_playlist_info(plist_id):
    r = requests.get(BASE_URL + 'playlists/' + plist_id + '/tracks?fields=items(track(name, artists(name)))', headers=headers).json()
    df = pd.DataFrame(r)
    df = flatten(df, ['items'])
    df = flatten(df, ['items_track'])
    artists = []
    for i in range(len(df['items_track_name'])):
        artist = df['items_track_artists'][i][0]['name']
        if len(df['items_track_artists'][i]) > 1:
            for j in range(1, len(df['items_track_artists'][i])):
                artist += ', ' + df['items_track_artists'][i][j]['name']
        artists.append(artist)
    playlist = pd.DataFrame(artists, df['items_track_name']).reset_index()
    playlist.columns = ['Song Name', 'Artist(s)']
    return playlist

In [114]:
df_test = get_playlist_info('6Yin3UZ5nGf0XePvJ9toAO')
df_test

,Song Name,Artist(s)
0,"Sonate No. 11 en La Majeur, « Marche turque »,...","Wolfgang Amadeus Mozart, Aldo Ciccolini"
1,"Violin Sonata in E Minor, K. 304/300c: II. Tem...","Wolfgang Amadeus Mozart, Jonas Vitaud, Mi-Sa Yang"
2,Symphony No. 25 in G Minor K. 183/K. 173dB: I....,"Wolfgang Amadeus Mozart, Sir Neville Marriner,..."
3,"Symphony No. 40 in G Minor, K. 550: I. Molto a...","Wolfgang Amadeus Mozart, Heinrich Schiff, Nort..."
4,"12 Variations in C Major on ""Ah, vous dirai-je...","Wolfgang Amadeus Mozart, Lang Lang"
5,"Serenade No. 13 in G Major, K. 525 ""Eine klein...","Wolfgang Amadeus Mozart, La Grande Écurie et l..."
6,"Bastien und Bastienne, K. 50","Wolfgang Amadeus Mozart, Capella Istropolitana..."
7,"Concerto for Flute, Harp, and Orchestra in C M...","Wolfgang Amadeus Mozart, Susan Palma-Nidel, Na..."
8,"Requiem, K. 626: Kyrie","Wolfgang Amadeus Mozart, Academy of Ancient Mu..."
9,"ヴァイオリン・ソナタ 変ホ長調, K. 380: 3. Rondo: Allegro","Wolfgang Amadeus Mozart, Rieko Suzuki, Akira W..."
10,Air de la Reine de la nuit (Extrait de la Flût...,"Wolfgang Amadeus Mozart, Orchestre Paul Kuentz..."

In [116]:
df_test_2 = get_playlist_info('37i9dQZF1DWYPwGkJoztcR')
df_test_2

                          Song Name                   Artist(s)
0   Where Everybody Knows Your Name                      Sophia
1                   How Do You Feel                  Nick Klyne
2                        Lean On Me                   Blackbird
3                       White Roses                    Joe Buck
4                       Perfect Day       Mell & Vintage Future
..                              ...                         ...
95                        Don't You  Marike Jager, Ron Sexsmith
96                    In The Middle       Mad3 for M3, Cris Cab
97                            Cards              Sabrina Starke
98           Old Records - Acoustic          Jacqueline Govaert
99                   Wonderful Life                 Katie Melua

[100 rows x 2 columns]

## it works !!